[submodule "godot_headers"]
	path = godot_headers
	url = https://github.com/GodotNativeTools/godot_headers
[submodule "OpenHMD"]
	path = OpenHMD
	url = https://github.com/OpenHMD/OpenHMD
[submodule "hidapi"]
	path = hidapi
	url = https://github.com/signal11/hidapi
[submodule "libusb"]
	path = libusb
	url = https://github.com/libusb/libusb
