*.o
*.os
*.so
*.dylib
*.dblite
*.exp
*.lib
*.obj
logs
*.pdb
*.ilk
compile_commands.json
.cache

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
android/build
.cxx
.project
.settings
.classpath

# Ignore intellij configuration files and directories
.idea
*.iml

# Local configuration file (sdk path, etc)
local.properties

# Ignore build folder (moved to android/build so can probably be removed)
build

# Ignore local parts of vscode
.vscode/settings.json
.vscode/launch.json
