*.o
*.os
*.so
*.dylib
*.dblite
*.exp
*.lib
*.obj
logs
.vscode
*.pdb
*.ilk
compile_commands.json
.cache

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
android/build
.cxx

# Ignore intellij configuration files and directories
.idea
*.iml

# Local configuration file (sdk path, etc)
local.properties

# Ignore build folder, need to fix gradlew config because this should be android/build
build

# Godot metadata files
